.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  overflow: hidden;
}

* {
  color: #fff;
}
#startButton, #wpmTEXT, #timer, #score, #startButton,  #instword, #loreText, #endButton {
    font-family: "Geo", sans-serif;
}
#headerWord , #headerInput {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#typingInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.container {
  border: 1px #fff solid;
  background-color: #00000027;
  backdrop-filter: blur(1px);
  max-width: 50vw;
  max-width: 50vw;
  min-width: 50vw;
  padding: 20px;

}

.startcontainer {
  border: 1px #fff solid;
  max-height: 50vw;
  max-width: 50vw;
  min-width: 50vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

#infoTab {
  display: flex;
  position: relative;

}

#timer {
  position: absolute;
  top: 0px;    
  right: 0px;
}

#timer, #score {
  padding: 10px;
  font-size: 1.5vw;
}

#headerInput {
  border: 1px #fff solid;
  padding: 4px;
  padding-inline-start: 40px;
  font-size: 1.8vw;
}

#headerWord {
  text-align: center;
  font-size: 5vw;
}

#instword {
text-align: center;
  font-size: 1.3vw;
}

#startButton, #endButton {
  font-size: 2vw;
  background-color: transparent;
  border: 1px #fff solid;
  padding: 5px;
}

#banner {
  max-height: 50vw;
  max-width: 50vw;
  min-width: 50vw;
}

#loreText {
  margin: 20px;
}

.gameToggle {
  display: none;
}

hr {
  width: 30vw;
  
}